<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft.fire.platform.emp.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="Emp">

        <id column="empno" property="empno" jdbcType="DOUBLE"/>

        <result column="empno" property="empno" jdbcType="DOUBLE"/>
        <result column="ename" property="ename" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="mgr" property="mgr" jdbcType="DOUBLE"/>
        <result column="hiredate" property="hiredate" jdbcType="TIMESTAMP"/>
        <result column="sal" property="sal" jdbcType="DOUBLE"/>
        <result column="comm" property="comm" jdbcType="DOUBLE"/>
        <result column="deptno" property="deptno" jdbcType="DOUBLE"/>
        <result column="emp_address" property="empAddress" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByEmpno" resultMap="BaseResultMap">
        SELECT  e.* FROM emp e WHERE e.empno=#{empno}
    </select>

</mapper>